<?xml version="1.0" encoding="utf-8"?>
<!-- Конфигурационный файл Туристическое агенство -->
<Config xmlns="http://hsi.ru/mdgb/mutual/v01" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- Блок глобальных настроек программы -->
  <Global>
    <DefaultSheetNameForAnalyze>Взаиморасчёты</DefaultSheetNameForAnalyze>
    <ExpandPeriodDays>7</ExpandPeriodDays>
    <StartSheetRow>7</StartSheetRow>
  </Global>
  <!-- Блок настроек работы с базой данных -->
  <Database>
    <!-- Используемая СУБД (поддерживается SQLITE, MYSQL, ORACLE -->
    <Dbms>ORACLE</Dbms>
    <!-- Блок настроек соединения с сервером ORACLE -->
    <ConnectionInfo Type="Mutual.Model.Config.OracleConnectionInfo">
      <Server>192.168.1.243</Server>
      <Port>1521</Port>
      <Database>MED</Database>
      <Login>solution_med</Login>
      <PasswordHash>ZWxzb2Z0</PasswordHash>
      <!-- Valid values - Normal, SYSDBA, SYSOPER -->
      <ConnectType>Normal</ConnectType>
    </ConnectionInfo>
  </Database>
  <!-- Блок настроек ведения журнала событий (логов) -->
  <Logging>
    <!-- Уровень логирования (Trace, Debug, Information, Warning, Error, Critical, None -->
    <LogLevel>Debug</LogLevel>
    <!-- Путь к лог-файлам -->
    <Path>Log\</Path>
    <!-- Маска файла - %APP%_%DD%%MM%%YYYY%.log -->
    <MaskFileName>%APP%_%DD%%MM%%YYYY%.log</MaskFileName>
    <!-- Вывод лога (None, Console, File, Debug) можно указать несколько значений через пробел - 'Console File' -->
    <Logger>Console File Debug</Logger>
  </Logging>
</Config>